/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    width: 20%;
    margin-left: 40%;
    padding-top: 80px;
}

.example-full-width {
    width: 100%;
}


.spacer{
    flex: 1 1 auto;
}

.btn-navbar {
    width: 100px;
}

.btn-navbar-user {
    width: auto;
}

mat-card-actions {
    text-align: center;
}
